*.pdparams
*.log
*.pdopt
*.pt
events.*
*.png
*.idea
*log.txt
*.pt

/python_learning/other/bert_wordpiece_train__fsh.txt
/PipelineServingLogs/pipeline.tracer
/PipelineServingLogs/pipeline.log.wf
*.csv
*.txt
*.pyc
*.src
*.tgt
*.docx
*.tiff
*db.*
*checkpoint*ipynb
*.bin
*.safetensors
*.pth
LLMTrain/deepspeed_test/data/*

